/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{
	position: relative;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	max-width: 1140px;
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
	
}

main{
	max-width: 923px;
	margin:auto;
}
section {
	margin: 5rem 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

header nav li:hover {
	color: black;
	font-weight: 600;
	font-size: 1.15em;
}

nav li a {
	text-decoration: none;
	color: inherit;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: 0 3.5rem 1rem 0;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
.title-header{
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	margin-bottom: 4rem;
}

#portfolio h2 {
	text-align: center;
}

/* Styles des filtres */
.categories {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	margin-bottom: 2rem;
}

.categorie-btn {
	padding: 8px 12px;
	margin: 4px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 1rem;
	color: #1D6154;
	background-color: #fff;
	border: 1px solid #1D6154;
	border-radius: 3rem;
	cursor: pointer;
}

.categorie-btn:hover,
.categorie-btn.active {
	background-color: #1D6154;
	color: #ffffff;
  }


/**********************/

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 1.5rem;
	grid-template-rows: 416px;
}

.gallery img {
	width: 100%;
    max-height: 392px;
    object-fit: cover;
	margin-bottom: 0.3rem;
}

#contact, #login {
	width: 50%;
    margin: auto;
}

#contact > *, #login > * {
	text-align: center;
}

#contact h2, #login h2{
	margin-bottom: 20px;
}

#contact form, #login form  {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input, #formAdd input {
	height: 40px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label, #login label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}



/* Login */
#login{
	margin-bottom: 10rem;
}

  
#login a {
	display: flex;
	justify-content: center;
	color: inherit;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	width: 237px;
}

footer nav ul {
	max-width: 1140px;
	margin:2rem auto;
	display: flex;
	justify-content: flex-end;
	
}

.error {
	display: flex;
	justify-content: center;
	border-radius: 40px;
	margin: 4rem 0;
	padding: 0.5rem;
	/* background: #B1663C; */
	text-align: center;
	font-weight: 900;
	color: #B1663C;
	font-size: 1.4rem;
}

/*Mode editing */
.editing {
	width: 100%;
	height: 4rem;
	margin: 0;
	display: none;
	z-index: 1000;

	.editing-container{
		width: 100%;
		height: 3.5rem;
		position: absolute;
		right: 0%;
		background: black;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		
		.editing-p {
	 		color: white;
		}

		.fa-pen-to-square {
		color:white;
		font-size: 1rem;
		}

		.btn-change {
			background: white;
			border: #ffffff;
			border-radius: 25px;
			padding: 0.5rem 1rem;
		}
	}	
}

/* Modal */

.add-photo{
	display: none;
}

.edit, .close, .back {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

.modal-opacite {
	display: none;
	position: absolute;
    inset: 0;
    background-color: #0000004f;
	margin: 3.5rem 0 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.modal {
	width: 630px;
	display: none;
	position: fixed;
	justify-content: center;
    background-color: #FFF;
    padding: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
	margin: 0.5rem 0;
	.title {
		font-size: 1.5rem;
		text-align: center;
		margin: 1rem;
	}

	.btn-i{
		display: flex;
    	justify-content: space-between;
		font-size: 1.5rem;
		margin: 1rem 1rem 0;
	}

	.btn-line{
		width: 100%;
		border-top: 0.1rem solid #B3B3B3 ;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-top: 3rem;
	}
	.add-gallery .btn-i {
		display: flex;
		justify-content: end;

	}
	


	.modal-gallery{

		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		margin: 1.5rem 3rem  ;
		
		.btn-add{
			width: 237px;
			height: 40px;
			text-align: center;
			font-size: 1rem;
			border: none;
			cursor: pointer;
		}

		.suppr-gallery {
			color: #D65353;
			cursor: pointer;
		}

		.gallery-shift{
			display: grid;
			grid-template-columns: repeat(5,1fr);
			grid-gap: 0.5rem;
			overflow-y: auto;
			max-height: 32rem;
			padding: 1rem;
		}

		.gallery-shift img {
			max-width: 100%; 
			max-height: 100%; 
			width: auto; 
			height: 135px;
		}
		
		.image-container p{
					text-align: start;
					padding: 0.3rem 0 0.5rem;
					cursor: pointer;
				}
		
		.image-container {
			position: relative;
			display: flex;
			justify-content: end;
			flex-direction: column;
			
			.icons {
				position: absolute;
				display: flex;
				justify-content: end;
				gap: 0.3rem;
				margin: 0.3rem;
				cursor: pointer;
				right: 0;
    			top: 0;
				
				.fas {
					background-color: black;
					color: white;
					padding: 0.3rem;
					border-radius: 10%;
				}
				
				
			}	
		}

		.fas.fa-arrows-up-down-left-right {
			display: none;
		}

		.image-container img:hover + .icons .fas.fa-arrows-up-down-left-right,
		.image-container .icons:hover .fas.fa-arrows-up-down-left-right {
			display: flex;
			cursor: pointer;
		}
	}
	.form-add{
		display: flex;
    	flex-direction: column;
    	align-items: center;
		margin: 0 6rem;

		.option {
			display: flex;
			flex-direction: column;
			width: 420px;
			height: 51px;
			flex-shrink: 0;
			background: #FFF;
			box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
			margin: 0;
			border: none;
			font-family:'Work Sans';
			font-weight: 400;
			font-size: 1rem;
		}	

		.option-category {
				padding: 1rem;
				appearance: none;
				background: url('./images/svg/arrow-down-2-svgrepo-com.svg') no-repeat right center;
				background-size: 1.3rem;
				background-position: right 0.7rem center;
			}

			.btn-valid{
				background-color: #A7A7A7;
			}
	}
		
	
	.label-option{
			margin: 1.5rem 0 0.5rem 1rem;
    		width: 100%;
			font-family:'Work Sans';
			font-weight: 400;
			font-size: 1rem;padding: 1rem;

		}
	
	.container-fichier{
		position: relative;
		width: 420px;
		height: 169px;
		background: #E8F1F6;
		display: grid;
		justify-content: center;
		align-items: center;
		justify-items: center;
		padding: 1rem 0 2rem;
		gap: 1rem;
		
		.button-fichier{
			border-radius: 50px;
			background: #CBD6DC;
			padding: 10px 33px;
			border: none;
			color: #306685;
			text-align: center;
			font-family: Work Sans;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			cursor: pointer;
		}

		.input-fichier{
			display: none;
		}

		.svg{
			width: 58px;
			height: 58px;
			margin-bottom: 15px;
			margin-top: 22px;
		}
	}

	.selected-image{
		position: absolute;
		display: none;
		width: 100%;
		height: 100%;
		object-fit: contain; 
		
	}
	

	
}

/* CSS pour l'effet de clignotement */
@keyframes blink {
	0%, 100% {
	  opacity: 0;
	}
	50% {
	  opacity: 1;
	}
  }
  
  /* Applique l'effet de clignotement à l'élément */
  .error-blink {
	animation: blink 0.6s infinite;
  }